<h1>Listing time_sheets</h1>

<table>
  <thead>
    <tr>
      <th>Closed at</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_sheets.each do |time_sheet| %>
      <tr>
        <td><%= time_sheet.closed_at %></td>
        <td><%= time_sheet.user %></td>
        <td><%= link_to 'Show', time_sheet %></td>
        <td><%= link_to 'Edit', edit_time_sheet_path(time_sheet) %></td>
        <td><%= link_to 'Destroy', time_sheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time sheet', new_time_sheet_path %>
